<html ng-app = 'myLogin'>
    <head></head>
    <link href ="assets/style.css" type="text/css"
        rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <body >
        <h2>YO!</h2>
        <h1><%= result %></h1>
        <h1><%= username %></h1>
        <h1><%= password %></h1>
    </body>
</html>
